
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7dada; /* Fondo rosa viejo */
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #b95252; /* Fondo rosa viejo para el encabezado */
    color: white;
    padding: 30px 0;
    text-align: center; /* Centrar el contenido del encabezado */
}

ul {
    list-style: none;
    padding: 30px;
    margin: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}



/* Estilos para el título centrado */
.centrado {
    text-align: center /* Centrar el contenido dentro de la sección */
    margin-top: 50px; /* Agregar espacio superior */
}

h1 {
    color: #b95252; /* Color de texto para el título */
    text-align: center;
}

.menu-hamburguesa {
    display: none;
    justify-content: flex-end;
}

.icono-menu {
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #b95252;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
}

.menu.active {
    display: block;
}

@media (max-width: 768px) {
    .menu-hamburguesa {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    border-radius: 30%; /* Borde redondeado para la imagen */
    margin-right: 20px;
}
.sobre-mi {
    text-align: center;
}

.sobre-mi img {
    display: block;
    margin: 0 auto;
    border-radius: 30%;
    margin-bottom: 10px;
}

.sobre-mi p {
    font-weight: bold;
    color: #b95252;
    margin: 0;
}
h2 {
    color: #685959; /* Color de texto para el título */
    text-align: center;
    font-size: 15px
}