
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f7dada; /* Fondo rosa viejo */
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #b95252; /* Fondo rosa viejo para el encabezado */
    color: white;
    padding: 30px 0;
    text-align: center; /* Centrar el contenido del encabezado */
}

ul {
    list-style: none;
    padding: 30px;
    margin: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: underline;
}

/* Estilos para la imagen */
img {
    border-radius: 70%; /* Hace que la imagen tenga un borde redondo */
}

/* Estilos para el título centrado */
.centrado {
    text-align: center /* Centrar el contenido dentro de la sección */
    margin-top: 50px; /* Agregar espacio superior */
}

h1 {
    color: #b95252; /* Color de texto para el título */
}